@keyframes fadeInAndOut {
    0% {left: 10%; opacity: 0}
    50% {left: 10%; opacity: 1}
    100% {left: calc(90% - 5.5em); opacity: 0}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}